h1, h2 {
	color: white;
/*	background-color: #0086b3;
*/}

.white, .post-title {
	color: white;
}

#simon-details, 
#cellarbook-details, 
#trackit-details, 
#roadtrip-details {
	display: none;
}

#simon-head, 
#cellarbook-head, 
#trackit-head, 
#roadtrip-head { 
	cursor: pointer; 
}

.project-pic {
	margin-bottom: 20px;
}

.project-tech {
	margin-top: 20px;
}

.project-head {
	margin-top: 40px;
}

.skillsTile {
	display: inline-block;
	height: 150px;
	width: 150px;
	margin-bottom: 100px;
	text-align: center;
}

.skillsIconContainer {
	display: inline-block;
	height: 120px;
	width: 120px;
	background-color: black;
	border-radius: 50%;
	margin: 0 auto;
}

.skillsIcon {
	height: 80px;
	width: 80px;
	position: relative;
	padding: 20px;
}

